./scripts/conf** filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
*.cfg filter=git-crypt diff=git-crypt
*inventory filter=git-crypt diff=git-crypt
*.ini filter=git-crypt diff=git-crypt
